In [2]:
pip install linearmodels

Collecting linearmodels
  Downloading linearmodels-4.24-cp38-cp38-macosx_10_9_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 2.0 MB/s eta 0:00:01
Requirement already satisfied: statsmodels>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.12.0)
Requirement already satisfied: numpy>=1.16 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.19.2)
Collecting mypy-extensions>=0.4
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Requirement already satisfied: Cython>=0.29.21 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.29.21)
Requirement already satisfied: patsy in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.5.1)
Collecting property-cached>=1.6.3
  Downloading property_cached-1.6.4-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: scipy>=1.2 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.5.2)
Requirement already satisfied: pandas>=0.24 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.1.3)
Collecting pyhdfe>=0.1
  Downloading pyhdfe-0.1.0-py3-none-any.whl (18 kB)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from patsy->linearmodels) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->linearmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->linearmodels) (2020.1)
Installing collected packages: mypy-extensions, property-cached, pyhdfe, linearmodels
Successfully installed linearmodels-4.24 mypy-extensions-0.4.3 property-cached-1.6.4 pyhdfe-0.1.0
Note: you may need to restart the kernel to use updated packages.

In [37]:
import numpy as np
import pandas as pd
import statistics as st
import scipy.stats as sst
import math
import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col

In [5]:
Ch10data = pd.read_excel('/Users/jennifer/Desktop/Baruch F21/ECO 9723 Econometrics/Hw10:27/income_democracy.xlsx')
print(Ch10data)

       country  year   dem_ind  log_gdppc   log_pop     age_1     age_2  \
0      Andorra  1960       NaN        NaN       NaN       NaN       NaN
1      Andorra  1965       NaN        NaN       NaN       NaN       NaN
2      Andorra  1970  0.500000        NaN       NaN       NaN       NaN
3      Andorra  1975       NaN        NaN       NaN       NaN       NaN
4      Andorra  1980       NaN        NaN       NaN       NaN       NaN
...        ...   ...       ...        ...       ...       ...       ...
1364  Zimbabwe  1980  0.666667   7.831994  8.716208  0.487388  0.249146
1365  Zimbabwe  1985  0.500000   7.876341  8.872487  0.490522  0.261934
1366  Zimbabwe  1990  0.166667   7.913739  9.061492  0.477027  0.272603
1367  Zimbabwe  1995  0.333333   7.977293  9.234155  0.462648  0.277990
1368  Zimbabwe  2000  0.166667   7.882274  9.347926  0.454770  0.282207

         age_3     age_4     age_5   educ  age_median  code
0          NaN       NaN       NaN    NaN         NaN     1
1          NaN       NaN       NaN    NaN         NaN     1
2          NaN       NaN       NaN    NaN         NaN     1
3          NaN       NaN       NaN    NaN         NaN     1
4          NaN       NaN       NaN    NaN         NaN     1
...        ...       ...       ...    ...         ...   ...
1364  0.135395  0.081204  0.046867  2.147   15.600000   211
1365  0.124533  0.075827  0.047184  2.816   15.400000   211
1366  0.132026  0.073196  0.045149  2.828   16.000000   211
1367  0.141861  0.072411  0.045090  4.087   16.700001   211
1368  0.146730  0.070168  0.046125  4.428   17.000000   211

[1369 rows x 13 columns]

In [6]:
import os
os.getcwd()

'/Users/jennifer/Desktop/Baruch F21/ECO 9723 Econometrics/Hw10:27'

In [8]:
#a.
print('The dataset is unbalanced because data are available over different years for different countries.')

The dataset is unbalanced because data are available over different years for different countries.

In [9]:
#b.i.
Ch10data.head()

,country,year,dem_ind,log_gdppc,log_pop,age_1,age_2,age_3,age_4,age_5,educ,age_median,code
0,Andorra,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Andorra,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Andorra,1970,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Andorra,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Andorra,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [12]:
Ch10data[["dem_ind"]].describe()

           dem_ind
count  1266.000000
mean      0.499073
std       0.371337
min       0.000000
25%       0.166667
50%       0.500000
75%       0.833333
max       1.000000

In [16]:
df=pd.DataFrame(Ch10data)
df

,country,year,dem_ind,log_gdppc,log_pop,age_1,age_2,age_3,age_4,age_5,educ,age_median,code
0,Andorra,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Andorra,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Andorra,1970,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Andorra,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Andorra,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1364,Zimbabwe,1980,0.666667,7.831994,8.716208,0.487388,0.249146,0.135395,0.081204,0.046867,2.147,15.600000,211
1365,Zimbabwe,1985,0.500000,7.876341,8.872487,0.490522,0.261934,0.124533,0.075827,0.047184,2.816,15.400000,211
1366,Zimbabwe,1990,0.166667,7.913739,9.061492,0.477027,0.272603,0.132026,0.073196,0.045149,2.828,16.000000,211
1367,Zimbabwe,1995,0.333333,7.977293,9.234155,0.462648,0.277990,0.141861,0.072411,0.045090,4.087,16.700001,211
1368,Zimbabwe,2000,0.166667,7.882274,9.347926,0.454770,0.282207,0.146730,0.070168,0.046125,4.428,17.000000,211

In [20]:
np.nanpercentile(df[["dem_ind"]],10)

0.0

In [19]:
np.nanpercentile(df[["dem_ind"]],90)

1.0

In [21]:
#b.ii.
USdata = df[df["country"]=="United States"]
USdata

,country,year,dem_ind,log_gdppc,log_pop,age_1,age_2,age_3,age_4,age_5,educ,age_median,code
1248,United States,1960,0.95,9.389680,NaN,0.295038,0.202189,0.213061,0.158593,0.131120,NaN,30.200001,192
1249,United States,1965,0.92,9.415136,12.10443,0.308328,0.196955,0.200275,0.161899,0.132543,8.665,29.600000,192
1250,United States,1970,1.00,9.594625,12.17717,0.304312,0.215471,0.183458,0.162417,0.134343,9.251,28.299999,192
1251,United States,1975,1.00,9.702070,12.23102,0.283463,0.241262,0.170519,0.163965,0.140792,9.788,28.200001,192
1252,United States,1980,1.00,9.800418,12.28291,0.251738,0.267377,0.172448,0.160361,0.148075,10.013,28.799999,192
1253,United States,1985,1.00,9.968130,12.33370,0.224279,0.274299,0.193255,0.151817,0.156350,11.907,30.100000,192
1254,United States,1990,1.00,10.070010,12.37971,0.216318,0.259245,0.219456,0.142531,0.162450,11.711,31.400000,192
1255,United States,1995,1.00,10.183310,12.42697,0.217711,0.232396,0.241015,0.144304,0.164573,11.999,32.799999,192
1256,United States,2000,1.00,10.254460,12.48673,0.221927,0.210766,0.245029,0.160867,0.161411,12.179,34.000000,192

In [22]:
print('The value of dem_ind for the US in 2000 is 1.')

The value of dem_ind for the US in 2000 is 1.

In [23]:
USdata[["dem_ind"]].mean()

dem_ind    0.985556
dtype: float64

In [24]:
#b.iii.

Libyadata = df[df["country"]=="Libya"]
Libyadata

,country,year,dem_ind,log_gdppc,log_pop,age_1,age_2,age_3,age_4,age_5,educ,age_median,code
709,Libya,1960,0.310000,NaN,NaN,0.429840,0.259325,0.155417,0.089698,0.065719,NaN,18.500000,106
710,Libya,1965,0.340000,NaN,7.207119,0.432913,0.259451,0.158636,0.089696,0.059303,NaN,18.400000,106
711,Libya,1970,0.000000,NaN,7.392032,0.434649,0.256474,0.162762,0.091862,0.054254,NaN,18.400000,106
712,Libya,1975,0.000000,NaN,7.593878,0.449421,0.261701,0.159537,0.085053,0.044288,NaN,17.500000,106
713,Libya,1980,0.166667,NaN,7.802209,0.460343,0.262878,0.159853,0.079722,0.037204,NaN,17.000000,106
714,Libya,1985,0.166667,NaN,8.020599,0.466514,0.250493,0.162180,0.083388,0.037426,NaN,16.799999,106
715,Libya,1990,0.000000,NaN,8.239065,0.463956,0.249802,0.161606,0.085820,0.038817,NaN,16.799999,106
716,Libya,1995,0.000000,NaN,8.368925,0.437965,0.267658,0.160781,0.091310,0.042286,NaN,17.799999,106
717,Libya,2000,0.000000,NaN,8.466952,0.389859,0.298338,0.161793,0.100568,0.049442,NaN,19.600000,106

In [25]:
Libyadata[["dem_ind"]].mean()

dem_ind    0.109259
dtype: float64

In [26]:
#c.i

df

,country,year,dem_ind,log_gdppc,log_pop,age_1,age_2,age_3,age_4,age_5,educ,age_median,code
0,Andorra,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Andorra,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Andorra,1970,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Andorra,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Andorra,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1364,Zimbabwe,1980,0.666667,7.831994,8.716208,0.487388,0.249146,0.135395,0.081204,0.046867,2.147,15.600000,211
1365,Zimbabwe,1985,0.500000,7.876341,8.872487,0.490522,0.261934,0.124533,0.075827,0.047184,2.816,15.400000,211
1366,Zimbabwe,1990,0.166667,7.913739,9.061492,0.477027,0.272603,0.132026,0.073196,0.045149,2.828,16.000000,211
1367,Zimbabwe,1995,0.333333,7.977293,9.234155,0.462648,0.277990,0.141861,0.072411,0.045090,4.087,16.700001,211
1368,Zimbabwe,2000,0.166667,7.882274,9.347926,0.454770,0.282207,0.146730,0.070168,0.046125,4.428,17.000000,211

In [27]:
PooledOLSclustered = smf.ols("dem_ind ~ log_gdppc", data=df)
results = PooledOLSclustered.fit(cov_type='cluster', cov_kwds={'groups': df[['country', 'year', 'dem_ind', 'log_gdppc']].dropna()['country']})
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                dem_ind   R-squared:                       0.438
Model:                            OLS   Adj. R-squared:                  0.438
Method:                 Least Squares   F-statistic:                     396.4
Date:                Thu, 21 Oct 2021   Prob (F-statistic):           7.94e-44
Time:                        00:42:40   Log-Likelihood:                -110.72
No. Observations:                 958   AIC:                             225.4
Df Residuals:                     956   BIC:                             235.2
Df Model:                           1
Covariance Type:              cluster
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.3548      0.100    -13.491      0.000      -1.552      -1.158
log_gdppc      0.2357      0.012     19.910      0.000       0.212       0.259
==============================================================================
Omnibus:                       15.550   Durbin-Watson:                   0.894
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               12.170
Skew:                          -0.186   Prob(JB):                      0.00228
Kurtosis:                       2.592   Cond. No.                         67.3
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)
"""

In [41]:
#c.ii
print('Dem_ind is predicted to increase by approximately {:.3f}'.format(0.2357*0.2))
print('The 95% confidence interval is [{:.3f}, {:.3f}]'.format(0.2*(0.2357-1.96*0.012),
                                                              (0.2*(0.2357+1.96*0.012))))

Dem_ind is predicted to increase by approximately 0.047
The 95% confidence interval is [0.042, 0.052]

In [42]:
#c.iii
PooledOLS_Unclustered = smf.ols("dem_ind ~ log_gdppc", data=df)
results2 = PooledOLS_Unclustered.fit(cov_type='HC1')
results2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                dem_ind   R-squared:                       0.438
Model:                            OLS   Adj. R-squared:                  0.438
Method:                 Least Squares   F-statistic:                     1101.
Date:                Thu, 21 Oct 2021   Prob (F-statistic):          3.33e-161
Time:                        00:50:55   Log-Likelihood:                -110.72
No. Observations:                 958   AIC:                             225.4
Df Residuals:                     956   BIC:                             235.2
Df Model:                           1
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.3548      0.061    -22.300      0.000      -1.474      -1.236
log_gdppc      0.2357      0.007     33.175      0.000       0.222       0.250
==============================================================================
Omnibus:                       15.550   Durbin-Watson:                   0.894
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               12.170
Skew:                          -0.186   Prob(JB):                      0.00228
Kurtosis:                       2.592   Cond. No.                         67.3
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
"""

In [50]:
#d.i.

print('Countries have different histories, institutions, social structures, and religions. All affect their preference for demography and may also be correlated with economic development, and therefore per-capital income.')

Countries have different histories, institutions, social structures, and religions. All affect their preference for demography and may also be correlated with economic development, and therefore per-capital income.

In [51]:
#d.ii

print('The estimated coefficient falls by a factor of 3, to 0.083 with a standard error of 0.032. The estimated effect, while significantly smaller is still statistically significant at the 1% significance level.')

The estimated coefficient falls by a factor of 3, to 0.083 with a standard error of 0.032. The estimated effect, while significantly smaller is still statistically significant at the 1% significance level.

In [45]:
pip install linearmodels

Requirement already satisfied: linearmodels in /opt/anaconda3/lib/python3.8/site-packages (4.24)
Requirement already satisfied: pyhdfe>=0.1 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.1.0)
Requirement already satisfied: scipy>=1.2 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.5.2)
Requirement already satisfied: mypy-extensions>=0.4 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.4.3)
Requirement already satisfied: patsy in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.5.1)
Requirement already satisfied: property-cached>=1.6.3 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.6.4)
Requirement already satisfied: pandas>=0.24 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.1.3)
Requirement already satisfied: statsmodels>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.12.0)
Requirement already satisfied: Cython>=0.29.21 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.29.21)
Requirement already satisfied: numpy>=1.16 in /opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.19.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from patsy->linearmodels) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->linearmodels) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->linearmodels) (2.8.1)
Note: you may need to restart the kernel to use updated packages.

In [46]:
Panel_Data = df.set_index(['country', 'year'])
print(Panel_Data.head())
Panel_Data

              dem_ind  log_gdppc  log_pop  age_1  age_2  age_3  age_4  age_5  \
country year
Andorra 1960      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1965      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1970      0.5        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1975      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1980      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN

              educ  age_median  code
country year
Andorra 1960   NaN         NaN     1
        1965   NaN         NaN     1
        1970   NaN         NaN     1
        1975   NaN         NaN     1
        1980   NaN         NaN     1

                dem_ind  log_gdppc   log_pop     age_1     age_2     age_3  \
country  year
Andorra  1960       NaN        NaN       NaN       NaN       NaN       NaN
         1965       NaN        NaN       NaN       NaN       NaN       NaN
         1970  0.500000        NaN       NaN       NaN       NaN       NaN
         1975       NaN        NaN       NaN       NaN       NaN       NaN
         1980       NaN        NaN       NaN       NaN       NaN       NaN
...                 ...        ...       ...       ...       ...       ...
Zimbabwe 1980  0.666667   7.831994  8.716208  0.487388  0.249146  0.135395
         1985  0.500000   7.876341  8.872487  0.490522  0.261934  0.124533
         1990  0.166667   7.913739  9.061492  0.477027  0.272603  0.132026
         1995  0.333333   7.977293  9.234155  0.462648  0.277990  0.141861
         2000  0.166667   7.882274  9.347926  0.454770  0.282207  0.146730

                  age_4     age_5   educ  age_median  code
country  year
Andorra  1960       NaN       NaN    NaN         NaN     1
         1965       NaN       NaN    NaN         NaN     1
         1970       NaN       NaN    NaN         NaN     1
         1975       NaN       NaN    NaN         NaN     1
         1980       NaN       NaN    NaN         NaN     1
...                 ...       ...    ...         ...   ...
Zimbabwe 1980  0.081204  0.046867  2.147   15.600000   211
         1985  0.075827  0.047184  2.816   15.400000   211
         1990  0.073196  0.045149  2.828   16.000000   211
         1995  0.072411  0.045090  4.087   16.700001   211
         2000  0.070168  0.046125  4.428   17.000000   211

[1369 rows x 11 columns]

In [47]:
from linearmodels import PanelOLS
PanelFE = PanelOLS(Panel_Data.dem_ind, Panel_Data.log_gdppc, entity_effects=True)
print(PanelFE.fit(cov_type='clustered', cluster_entity=True, cluster_time=False))

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                dem_ind   R-squared:                        0.0197
Estimator:                   PanelOLS   R-squared (Between):              0.7925
No. Observations:                 958   R-squared (Within):               0.0197
Date:                Thu, Oct 21 2021   R-squared (Overall):              0.7554
Time:                        00:53:58   Log-likelihood                    247.99
Cov. Estimator:             Clustered
                                        F-statistic:                      16.202
Entities:                         150   P-value                           0.0001
Avg Obs:                       6.3867   Distribution:                   F(1,807)
Min Obs:                       1.0000
Max Obs:                       9.0000   F-statistic (robust):             7.1031
                                        P-value                           0.0078
Time periods:                       9   Distribution:                   F(1,807)
Avg Obs:                       106.44
Min Obs:                       54.000
Max Obs:                       148.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
log_gdppc      0.0837     0.0314     2.6652     0.0078      0.0221      0.1454
==============================================================================

F-test for Poolability: 6.0368
P-value: 0.0000
Distribution: F(149,807)

Included effects: Entity

/opt/anaconda3/lib/python3.8/site-packages/linearmodels/shared/exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [52]:
# d.iii.

data = df.set_index("country")

In [55]:
data_noAz = data.drop("Azerbaijan", axis=0)
indexed_data_noAz = data_noAz.reset_index("country")
indexed_data_noAz

,country,year,dem_ind,log_gdppc,log_pop,age_1,age_2,age_3,age_4,age_5,educ,age_median,code
0,Andorra,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Andorra,1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Andorra,1970,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Andorra,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Andorra,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,Zimbabwe,1980,0.666667,7.831994,8.716208,0.487388,0.249146,0.135395,0.081204,0.046867,2.147,15.600000,211
1364,Zimbabwe,1985,0.500000,7.876341,8.872487,0.490522,0.261934,0.124533,0.075827,0.047184,2.816,15.400000,211
1365,Zimbabwe,1990,0.166667,7.913739,9.061492,0.477027,0.272603,0.132026,0.073196,0.045149,2.828,16.000000,211
1366,Zimbabwe,1995,0.333333,7.977293,9.234155,0.462648,0.277990,0.141861,0.072411,0.045090,4.087,16.700001,211
1367,Zimbabwe,2000,0.166667,7.882274,9.347926,0.454770,0.282207,0.146730,0.070168,0.046125,4.428,17.000000,211

In [57]:
Panel_noAz = indexed_data_noAz.set_index(['country', 'year'])
print(Panel_noAz.head())
Panel_noAz

              dem_ind  log_gdppc  log_pop  age_1  age_2  age_3  age_4  age_5  \
country year
Andorra 1960      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1965      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1970      0.5        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1975      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1980      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN

              educ  age_median  code
country year
Andorra 1960   NaN         NaN     1
        1965   NaN         NaN     1
        1970   NaN         NaN     1
        1975   NaN         NaN     1
        1980   NaN         NaN     1

                dem_ind  log_gdppc   log_pop     age_1     age_2     age_3  \
country  year
Andorra  1960       NaN        NaN       NaN       NaN       NaN       NaN
         1965       NaN        NaN       NaN       NaN       NaN       NaN
         1970  0.500000        NaN       NaN       NaN       NaN       NaN
         1975       NaN        NaN       NaN       NaN       NaN       NaN
         1980       NaN        NaN       NaN       NaN       NaN       NaN
...                 ...        ...       ...       ...       ...       ...
Zimbabwe 1980  0.666667   7.831994  8.716208  0.487388  0.249146  0.135395
         1985  0.500000   7.876341  8.872487  0.490522  0.261934  0.124533
         1990  0.166667   7.913739  9.061492  0.477027  0.272603  0.132026
         1995  0.333333   7.977293  9.234155  0.462648  0.277990  0.141861
         2000  0.166667   7.882274  9.347926  0.454770  0.282207  0.146730

                  age_4     age_5   educ  age_median  code
country  year
Andorra  1960       NaN       NaN    NaN         NaN     1
         1965       NaN       NaN    NaN         NaN     1
         1970       NaN       NaN    NaN         NaN     1
         1975       NaN       NaN    NaN         NaN     1
         1980       NaN       NaN    NaN         NaN     1
...                 ...       ...    ...         ...   ...
Zimbabwe 1980  0.081204  0.046867  2.147   15.600000   211
         1985  0.075827  0.047184  2.816   15.400000   211
         1990  0.073196  0.045149  2.828   16.000000   211
         1995  0.072411  0.045090  4.087   16.700001   211
         2000  0.070168  0.046125  4.428   17.000000   211

[1368 rows x 11 columns]

In [59]:
PanelFE_noAz = PanelOLS(Panel_noAz.dem_ind, Panel_noAz.log_gdppc, entity_effects=True)
print(PanelFE.fit(cov_type='clustered', cluster_entity=True, cluster_time=False))

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                dem_ind   R-squared:                        0.0197
Estimator:                   PanelOLS   R-squared (Between):              0.7925
No. Observations:                 958   R-squared (Within):               0.0197
Date:                Thu, Oct 21 2021   R-squared (Overall):              0.7554
Time:                        01:01:19   Log-likelihood                    247.99
Cov. Estimator:             Clustered
                                        F-statistic:                      16.202
Entities:                         150   P-value                           0.0001
Avg Obs:                       6.3867   Distribution:                   F(1,807)
Min Obs:                       1.0000
Max Obs:                       9.0000   F-statistic (robust):             7.1031
                                        P-value                           0.0078
Time periods:                       9   Distribution:                   F(1,807)
Avg Obs:                       106.44
Min Obs:                       54.000
Max Obs:                       148.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
log_gdppc      0.0837     0.0314     2.6652     0.0078      0.0221      0.1454
==============================================================================

F-test for Poolability: 6.0368
P-value: 0.0000
Distribution: F(149,807)

Included effects: Entity

In [60]:
#d.iii

print('Data for Azerbaijan is available only for 2000. These data are completely absorbed the country-specific fixed effect and therefore have no effect on the estimated coefficient on log_gdppc.')

Data for Azerbaijan is available only for 2000. These data are completely absorbed the country-specific fixed effect and therefore have no effect on the estimated coefficient on log_gdppc.

In [62]:
#d.iv

Panel_Data = df.set_index(['country', 'year'])
print(Panel_Data.head())
Panel_Data

from linearmodels import PanelOLS
mod = PanelOLS(Panel_Data.dem_ind, Panel_Data.log_gdppc, entity_effects=True, time_effects=True)
print(mod.fit(cov_type='clustered', cluster_entity=True, cluster_time=True))

              dem_ind  log_gdppc  log_pop  age_1  age_2  age_3  age_4  age_5  \
country year
Andorra 1960      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1965      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1970      0.5        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1975      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1980      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN

              educ  age_median  code
country year
Andorra 1960   NaN         NaN     1
        1965   NaN         NaN     1
        1970   NaN         NaN     1
        1975   NaN         NaN     1
        1980   NaN         NaN     1
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                dem_ind   R-squared:                        0.0046
Estimator:                   PanelOLS   R-squared (Between):              0.7700
No. Observations:                 958   R-squared (Within):               0.0171
Date:                Thu, Oct 21 2021   R-squared (Overall):              0.7241
Time:                        01:04:20   Log-likelihood                    298.75
Cov. Estimator:             Clustered
                                        F-statistic:                      3.7289
Entities:                         150   P-value                           0.0538
Avg Obs:                       6.3867   Distribution:                   F(1,799)
Min Obs:                       1.0000
Max Obs:                       9.0000   F-statistic (robust):             1.2832
                                        P-value                           0.2576
Time periods:                       9   Distribution:                   F(1,799)
Avg Obs:                       106.44
Min Obs:                       54.000
Max Obs:                       148.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
log_gdppc      0.0536     0.0473     1.1328     0.2576     -0.0393      0.1464
==============================================================================

F-test for Poolability: 6.8754
P-value: 0.0000
Distribution: F(157,799)

Included effects: Entity, Time

/opt/anaconda3/lib/python3.8/site-packages/linearmodels/shared/exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [63]:
Panel_Data = df.set_index(['country', 'year'])
print(Panel_Data.head())
Panel_Data

from linearmodels import PanelOLS
mod = PanelOLS(Panel_Data.dem_ind, Panel_Data[["log_gdppc","educ","log_pop","age_2","age_3","age_4","age_5"]], entity_effects=True, time_effects=True)
print(mod.fit(cov_type='clustered', cluster_entity=True, cluster_time=True))

              dem_ind  log_gdppc  log_pop  age_1  age_2  age_3  age_4  age_5  \
country year
Andorra 1960      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1965      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1970      0.5        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1975      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN
        1980      NaN        NaN      NaN    NaN    NaN    NaN    NaN    NaN

              educ  age_median  code
country year
Andorra 1960   NaN         NaN     1
        1965   NaN         NaN     1
        1970   NaN         NaN     1
        1975   NaN         NaN     1
        1980   NaN         NaN     1
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                dem_ind   R-squared:                        0.0278
Estimator:                   PanelOLS   R-squared (Between):             -4.2503
No. Observations:                 680   R-squared (Within):              -0.0942
Date:                Thu, Oct 21 2021   R-squared (Overall):             -3.8478
Time:                        01:05:00   Log-likelihood                    195.30
Cov. Estimator:             Clustered
                                        F-statistic:                      2.3263
Entities:                          96   P-value                           0.0240
Avg Obs:                       7.0833   Distribution:                   F(7,570)
Min Obs:                       1.0000
Max Obs:                       8.0000   F-statistic (robust):             1.8048
                                        P-value                           0.0839
Time periods:                       8   Distribution:                   F(7,570)
Avg Obs:                       85.000
Min Obs:                       62.000
Max Obs:                       94.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
log_gdppc      0.0252     0.0598     0.4213     0.6737     -0.0923      0.1427
educ          -0.0004     0.0222    -0.0181     0.9856     -0.0440      0.0432
log_pop       -0.0692     0.1372    -0.5045     0.6141     -0.3388      0.2003
age_2         -0.5255     0.8276    -0.6350     0.5257     -2.1509      1.0999
age_3         -2.4812     0.7555    -3.2842     0.0011     -3.9652     -0.9973
age_4          0.2978     1.2931     0.2303     0.8179     -2.2421      2.8377
age_5          0.6054     1.2292     0.4925     0.6225     -1.8089      3.0197
==============================================================================

F-test for Poolability: 4.9270
P-value: 0.0000
Distribution: F(102,570)

Included effects: Entity, Time

/opt/anaconda3/lib/python3.8/site-packages/linearmodels/shared/exceptions.py:35: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [64]:
#e

print('After controlling for omitted variables - particularly country-fixed effects - there is little evidence of an income effect on the demand for democracy.')

After controlling for omitted variables - particularly country-fixed effects - there is little evidence of an income effect on the demand for democracy.

In [ ]:
#####